.section {
    text-align: center;
    background: var(--background);
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 800;
    color: var(--foreground);
}