.section {
    text-align: center;
    background: linear-gradient(to top, #000000, var(--background));
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 800;
    background: linear-gradient(to right, #fff, #94a3b8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}